NODE_ENV=development
PORT=5000

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/leadpro

# Security
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

# Third Party Services
APIFY_API_TOKEN=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Admin specific fallback
ADMIN_INIT_EMAIL=admin@example.com
ADMIN_INIT_PASS=securepassword
